.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px;
  border-bottom: 1px solid #e5e5e5;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  height: 87px;
  display: flex;
  align-items: center;
}

.nav {
  flex: 1;
  overflow-y: auto;
  padding: 12px;
  gap: 12px;
  display: flex;
  flex-direction: column;

  /* Scrollbar styling */
  scrollbar-width: thin;
  scrollbar-color: #b4d3ff #f0f6ff;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f0f6ff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
    border: 2px solid #f0f6ff;

    &:hover {
      background: #74c0fc;
    }

    &:active {
      background: #4da3ff;
    }
  }
}

.footer {
  padding: 12px;
  border-top: 1px solid #e5e5e5;
  flex-shrink: 0;
  text-align: center;
}

.footerText {
  font-size: 12px;
  color: #999;
  margin: 0;
}

.hoverBg {
  &:hover {
    background-color: #f8f9fa;
  }
}
