.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--text-black);

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 60%;
      height: fit-content;
      margin: auto;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  h1 {
    color: white;
    font-weight: 500;
    font-size: 20px;
  }
}
