.wrapper {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.content {
  width: 400px;
  padding: 64px 32px;
  text-align: center;
  background-color: var(--color-white);
  border-radius: var(--radius-xl);
  box-shadow: 0 10px 15px 0 #050d1d2e;
}

.logo {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 8px;
  color: var(--color-dark-1000);
  font-weight: 600;
  font-size: 24px;
}

.description {
  margin-bottom: 16px;
  color: var(--color-dark-900);
  font-size: 16px;
}
